DATABASE_URL=postgres://user:password@host:port/defaultdb
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=user@gmail.com
SMTP_PASS=password
SMTP_FROM="Admin <user@gmail.com>"

# OpenTelemetry Exporter (Grafana Cloud / Axiom)
OTEL_EXPORTER_OTLP_PROTOCOL="http/protobuf"
OTEL_EXPORTER_OTLP_ENDPOINT="https://otlp-gateway-prod-us-east-0.grafana.net/otlp"
OTEL_EXPORTER_OTLP_HEADERS="Authorization=Basic YOUR_BASE64_ENCODED_API_TOKEN"
